html{
    font-family: 'Montserrat', sans-serif;
}
body {
    /* background-image: url(../../images/home.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 1709px 936px; */
    background-color: #FFFEF3;
    position: relative;
    margin-top: -100px;
}
.menu {
    list-style: none;
    text-align: center;
    margin-top: 100px;
    font-size: 27px;
    text-shadow: 0px 5px #bdbdbdba;
}
.menu li {
    display: inline-block;
    padding: 20px;
    margin: 0px 15px;
}
#about-li {
    text-shadow: 0px 6px #fcf5bc;
}
#main-home {
    position: relative;
    height: 750px;
}
.foot{
    text-align: center;
}
#center-bg {
    text-align: center;
    margin: 130px 0px;
    animation: center-bg 5s ease;
    position: relative;
}
#center-txt {
    position: absolute;
    width: 50%;
    margin: 0% 25%;
    top: -3%;
    font-size: 21px;
}
img {
    border-radius: 20%;
}
.icons{
    margin: 0px 4px;
}
#yellow-corner{
    position: absolute;
    animation: yellow-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
}
#green-corner{
    position: absolute;
    right: 0px;
    animation: green-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
}
#blue-corner{
    position: absolute;
    animation: blue-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
    bottom: 0px;
}
#purple-corner{
    position: absolute;
    right: 0px;
    animation: purple-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
    bottom: 0px;
}
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
@keyframes yellow-circle {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes green-circle {
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes blue-circle {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes purple-circle {
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes center-bg {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }