html{
    font-family: 'Montserrat', sans-serif;
}
/* general body css */
body{
    position: relative;
    margin: 3px;
}
/* different background colors for pages */
body#about-body {
    background-color: #FFFEF3;
}
body#skills-body {
    background-color: #F2FFF7;
}
body#work-body {
    background-color: #EDF9FF;
}
body#projects-body {
    background-color: #F9F0FF;
}
body#reference-body {
    background-color: #FFEDF5;
}
/* header css */
header {
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* Navbar container */
.navbar {
    /* overflow: hidden; */
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999999;
    /* margin: 0% 40%; */
    /* border-radius: 0% 0% 30% 30%; */
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px #7272725c;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown .dropbtn {
    font-size: 25px;
    border: none;
    outline: none;
    color: black;
    padding: 10px 30px;
    background-color: inherit;
    margin: 0;
}
/* Dropdown content*/
.dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: white;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px #727272;
    /* z-index: 1; */
}
/* Links inside the dropdown content */
.dropdown-content a {
    float: none;
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: normal;
}
.dropdown-content a:hover {
    background-color: #edebeb;
}
/* Show the dropdown menu on hover or on onclick using js not heree*/
  .dropdown:hover .dropdown-content {
    display: block;
}
/* header menu css */
.menu {
    list-style: none;
    text-align: center;
    font-size: 27px;
    text-shadow: 0px 5px #bdbdbdba;
}
.menu li {
    display: inline-block;
    padding: 20px;
    margin: 0px 15px;
}
/* new change, decided to delete */
/* .menu li {
    display: inline-block;
    padding: 20px;
    margin: 0px 15px;
    background: #ffffff70;
    box-shadow: 1px 5px 8px -7px grey;
    border-radius: 9%;
} */
.menu a:link, .menu a:active, .menu a:visited {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    font-weight: bold;
    /* box-shadow: 0px 6px 4px -5px grey; */
}
/* change shadow color for the name of the page you are on */
/* could change to js in future versions */
#about-li {
    text-shadow: 0px 6px #fbf19f;
}
#skills-li {
    text-shadow: 0px 6px #a2fdc6;
}
#work-li {
    text-shadow: 0px 6px #a1defd;
}
#projects-li {
    text-shadow: 0px 6px #e1b6fb;
}
#reference-li {
    text-shadow: 0px 6px #FFA6D0;
}
/* main on different pages is the same except on home */
#main-home {
    /* position: relative; */
    height: 735px;
}
#main-skills, #main-work, #main-projects, #main-reference, #main-gallery{
    position: relative;
    height: 799px;
    margin-top: -5%;
}
/* the background svg for all pages except home */
#main-skills #center-bg, #main-work #center-bg, #main-projects #center-bg, #main-reference #center-bg{
    text-align: center;
    margin: 20px 0px;
    animation: center-bg 5s ease;
    /* position: relative; */
}
#center-bg, #center-txt {
    text-align: center;
    animation: center-bg 5s ease;
}
/* for menues and lists about work, and projects */
#center-menu {
    margin: 0% 20%;
    top: 0%;
    position: absolute;
    width: 70%;
    z-index: 999;
}
#center-menu ul {
    /* font-size: 19px; */
    /* width: 100%; */
    list-style: none;
    /* font-weight: bold; */
}
#center-menu ul ul {
    font-size: 15px;
    font-weight: normal;
    padding: 7px 35px;
}
#center-menu ul ul li {
    padding: 3px 0px;
}
#center-menu li{
    padding: 0.2em 0em;
}
/* splitting skills types into boxes to fill the page */
.little-box {
    float: left;
    margin: 2em 7em;
}
/* Box scrollbar */
.myBox {
    border: none;
    /* padding: 5px; */
    /* font: 24px/36px sans-serif; */
    /* width: 50%; */
    height: 700px;
    overflow: scroll;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: white;  
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: white;  
}
/* center text in home page */
#center-txt {
    position: absolute;
    width: 50%;
    margin: 0% 25%;
    top: 19%;
    font-size: 21px;
    z-index: 999;
}
#center-txt img {
    border-radius: 20%;
}
/* social media icons */
.icons{
    margin: 0px 4px;
}
.icons:hover{
    box-shadow: 0px 6px 4px -5px grey;
}
/* resume link css */
#res-a {
    text-decoration: none;
    color: #7bccf5;
}
/* position used to be absolute for yellow circle in corner but no need for that */
/* #yellow-corner{
    position: absolute;
    animation: yellow-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
} */
#yellow-corner{
    animation: yellow-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
}
#green-corner {
    position: absolute;
    right: 0px;
    animation: green-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
    /* position: relative; */
    /* z-index: 10; */
    /* margin-left: 81.5%; */
}
#blue-corner{
    position: absolute;
    animation: blue-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
    bottom: 0px;
}
#purple-corner{
    position: absolute;
    right: 0px;
    animation: purple-circle 5s ease;
    transform-origin: center;
    transform-box: fill-box;
    bottom: 0px;
}
/* Hi hand wave */
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
/* keyframe rules */
@keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
@keyframes yellow-circle {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes green-circle {
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes blue-circle {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
@keyframes purple-circle {
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes center-bg {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }
/* media only rules */
@media only screen and (max-width: 1300px) {
    .navbar{
      display: block;
    }
    .menu{
        display: none;
    }
  }
@media only screen and (min-width: 1300px) {
    .navbar{
      display: none;
    }
    .menu{
        display: block;
    }
  }
